img {
	display: block;
}
table {
	border-spacing: 10px;
	border-collapse: separate;
	min-width: 400px;
	max-width: 800px;
	border: 1px solid black;
}
td {
	border: 1px solid black;
	text-align: center;
}
